main {
  padding-top: 100px;
}

main .row {
  margin-bottom: 20px;
  float: left;
}

nav {
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: #f4bf42;
  text-align: right;
  margin: center;
  position: relative;
  height: 50px;
  width: 80%;
}

#pagename {

  float: left;
  font-family: 'Arial';
  margin-left: 20px;
  margin-bottom: 50px;
}

p {
  float: left;
  font-family: 'Arial';
  margin-left: 20px;
}

.box {
  padding-top: 30px;
}

.rey {
  float: left;
  padding: 10px;
  clear: both
}

.finn {
  float: left;
  padding: 10px;
}

.kylo {
  float: left;
  padding: 10px
}

.poe {
  float: left;
    padding: 10px
}

.chewbacca {
  float: left;
    padding: 10px
}

.yoda {
  float: left;
    padding: 10px
}